//
//		Type
//
body {
  font-family: $font-stack;
  line-height: $baseline * 2;
}

h1 {
  @include sassline( $ms-4, 1.1, 5);
	padding-bottom: $baseline * 5;
	font-weight: 400;
}

h2 {
  @include sassline( $ms-3, 0, 4);
	padding-bottom: $baseline * 1;
	font-weight: 400;
}

p {
  @include sassline( $ms-base, 0, 2);
	padding-bottom: $baseline * 2;
}
